* {

    box-sizing: border-box;
}

.line1 {
   display: flex; 
    height: 100px;
    margin: 10px;
}

.elementline1 {

    background: orange;
    width: 100%;
    margin: 5px;
}

.line2 {
    display: flex;
    background-color: rgba(229, 253, 47, 0.849);
    height: 350px;
    margin: 15px;
}

.line3 {
    display: flex;
    height: 250px;
    margin: 10px;   
}
.elementline3 {

    background-color: rgba(109, 47, 253, 0.897);
    width: 100%;
    margin: 5px;
}
.line4 {
    display: flex;
    height: 150px;  
    margin: 10px; 
}
.elementline4{
    background-color:grey;
    width: 100%; 
    margin: 5px;  
}